<%- include('partials/side-nav'); -%>
<div class="side-nav-content p-3">
    <div id="dd" class="scheduled mb-3" style="justify-content: space-between">
        <p></p>
        <p></p>
      </div>
    <div class="chat-cont text-right">
      <a class="waves-effect waves-light btn modal-trigger btn-floating" href="#chat-teacher">      <i class="fas fa-comments"></i>
      </a><p>Chat</p>
    </div>
  
    <div class="stud-row">
        <div class="row">
          <div class="col s12 m7">
            <div class="card" style="width: 70%;">
              <div class="card-title text-center p-3 blue-grey lighten-5">Discussion Room</div>
              <div class="card-image p-3" style="height: 40vh; overflow: hidden;" >
                <img src="/images/discussion.svg" style="height: 100%;">
              </div>
                <div class="card-content">
                    <div style="font-size: larger;">Room Id :  <%=discussion.roomId%></div>
                    <div style="font-size: larger;"> Time : <%=moment(discussion.scheduledTime).format('MMMM Do YYYY, h:mm:ss a')%></div>
              </div>
              <div class="card-action text-center">
                <a class="btn btn-primary black darken-1" href="/teacher/dashboard/enter/discussion/classroom/<%=discussion.roomId%>?email=<%=currentUser.email%>&room=<%=discussion.roomId%>" >Enter Class</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="seperator mt-5 "></div>

    <div id="allow" class="container">
        <div class="jumbotron white">
            <div class="row">
              <div class="col s12 m5">
                <h4 class="theme-heading text-center">Allowed students</h4>
                <div class="card-panel white-text" style="background-color: #1F2D37; font-size: medium;">
                  <% discussion.students.forEach(function(stud){%>
                    <%students.forEach(function(student){%>
                         <%if(student.email===stud.email){%>
                             <div class="white-text card-content mb-2"> Name : <%=student.name%>     ,     Mail : <%=student.email%></div>
                         <%}%>
                    <%})%>
                 <%})%>
                </div>
              </div>
            </div>
            <form action="/teacher/dashboard/discussion/<%=discussion.roomId%>" method="POST">
              <div class="row">
                <div class="col s12 m5">
                  <h4 class="theme-heading text-center">Allow Students to participate</h4>
                  <div class="white-text card-panel" style="background-color: #1F2D37; font-size: medium;">
                    <input type="checkbox" id="all" style="opacity: 1; pointer-events: auto; position: relative">
                    Select All

                  <%students.forEach(function(student){%>
                    <%if(discussion.students.findIndex(x=>x.email === student.email)===-1){%>
                              <div class="card-content mb-2 white-text">
                                  <input type="checkbox" 
                                  style="opacity:1;pointer-events:auto;position: relative;"  
                                  value="<%=student.email%>" 
                                  name="main"
                                  class="al"
                                  >
                             Student :<%=student.name%>     ,     Mail: <%=student.email%>
                              </div>
                        <%}%>
                    <%})%>
                  </div>
                </div>
              </div>
              <div class="text-center">
              <input class="btn btn-primary" type="submit">
              </div>
            </form>
        </div>
    </div>
    <div class="seperator mt-5 "></div>

  

    <div id="chat-teacher" class="T-chat modal">
      <div class="modal-footer">
        <h4 class="theme-heading text-center" style="margin: auto;" >Chat</h4>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="fas fa-times red-text"></i></a>
      </div>
      <div class="modal-content">
        <div style="height: 100%;margin-bottom: 0rem !important;">
          <div id="sidebar" class="chat__sidebar"> </div>
  
            <div>
                <div id="messages"> 
                <%texts.forEach((per)=>{%>
                    <div>
                        <span><%=per.username%></span> <%=moment(per.createdAt).format('h:mm a')%>
                        <p><%=per.message%></p>
                    </div>
                  <%})%>
                </div>
                <div>
                    <form id="message-form">
                        <input type="hidden" id="roomId" value="<%=discussion.roomId%>" name="roomId" type="text">
                        <input type="hidden" id="username" value="<%=currentUser.name%>" name="username" type="text">
  
                        <input name="message" id="ip" type="text" placeholder="Message" required autocomplete="off">
                        <button class="btn" id="but">Send</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<script>
  var teacherNav = document.querySelectorAll('#teacher-nav');
  teacherNav.forEach((teacherNav) => {
  teacherNav.innerHTML = '';
  const navLinks = `<a id="dshbrd" href="/teacher/dashboard" onclick="dashboard()"
        ><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="#allow"> <i class="far fa-check-circle"></i><span>Allow</span></a>
      <a class="modal-trigger" href="#chat-teacher"><i class="fas fa-comments"></i><span>Chat</span>
    </a>`;
    teacherNav.innerHTML = navLinks;});
  document.querySelectorAll('.hme').forEach(link => link.href = location.hostname);
</script>
<script id="message-template" type="text/html">
  <div>
    <span>{{username}}</span>  {{createdAt}}
    <br/>
    <p>{{message}}</p>
</div>
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script>
    const socket=io();
    const $messageForm=document.querySelector("#message-form");
    const $messageFormInput = $messageForm.querySelector('#ip');
    const $messageFormButton = $messageForm.querySelector('#but');
    const $messages=document.querySelector('#messages');

    const x= Qs.parse(location.search,{ignoreQueryPrefix:true});
    const useremail=x.user;
    const room=x.room;
    console.log(useremail);console.log(room);
    const messageTemplate=document.querySelector('#message-template').innerHTML;

    socket.emit('join',{useremail,room},(error)=>{
        if(error){
            alert(error);
            location.href="/teacher/dashboard";
        }
    });

    socket.on('message',(msg)=>{
        const html = Mustache.render(messageTemplate,{
            message:msg.message,
            username:msg.username,
            roomId : msg.roomId,
            createdAt:moment(msg.createdAt).format('h:mm a')
        });
        $messages.insertAdjacentHTML('beforeend',html);
    });

    $messageForm.addEventListener('submit',(e)=>{
       e.preventDefault();
       const message = e.target.elements.message.value;
       const roomId = e.target.elements.roomId.value;
       const username = e.target.elements.username.value;

     
       socket.emit('sendMessage',{
           message,
           roomId,
           username
       },(error)=>{
        $messageFormButton.removeAttribute('disabled');
        $messageFormInput.value="";
        $messageFormInput.focus();
        if(error){
            return console.log(error);
        } 
        console.log("Message delivered");
    });
});
</script>

<script>
  let all = document.getElementById("all");
  var clked = 0;
  all.addEventListener('click',()=>{
    if(clked == 0){
      document.querySelectorAll(".al").forEach((k)=>{
         k.checked = true;
      })
      clked = 1;
    }else{
      document.querySelectorAll(".al").forEach((k)=>{
         k.checked = false;
      })
      clked = 0;
    }
  })
</script>


<%- include('partials/footer'); -%>