<!DOCTYPE html>
<html lang="en">

<head>
    <title>Redeem Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <%- include('partials/side-nav'); -%>

    <div class="side-nav-content">

        <div class="section_our_solution">
          
            <div class="row">
                <div class="our_solution_category col-lg-4 col-md-4 col-sm-4 mb-4" data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#exampleModal" >
                  <div class="solution_cards_box">
                    <div class="solution_card"  style="display: inline;">
                      <div class="hover_color_bubble"></div>
                      
                      <div class="solu_description">
                        
                        <img class="card-img-top" src="/images/goodies/pen.jpg" alt="Card image cap">
        
                      </div>

                      <div class="solu_title">
                        <h5 class="card-title"><i class="fas fa-coins mr-2"></i>100 Pen
                            Redeem
                        </a ></h5>
                        
                      </div>
                    </div>
                  </div>
                </div>
                 
                <div class="our_solution_category col-lg-4 col-md-4 col-sm-4 mb-4" data-toggle="modal" data-target="#exampleModal">
                    <div class="solution_cards_box">
                      <div class="solution_card"  style="display: inline;">
                        <div class="hover_color_bubble"></div>
                        
                        <div class="solu_description">
                          
                          <img class="card-img-top" src="/images/goodies/tshirt.jpg" alt="Card image cap">
          
                        </div>
  
                        <div class="solu_title">
                          <h5 class="card-title"><i class="fas fa-coins mr-2"></i>200 T-Shirt</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="our_solution_category col-lg-4 col-md-4 col-sm-4 mb-4" data-toggle="modal" data-target="#exampleModal">
                    <div class="solution_cards_box">
                      <div class="solution_card"  style="display: inline;">
                        <div class="hover_color_bubble"></div>
                        
                        <div class="solu_description">
                          
                          <img class="card-img-top" src="/images/goodies/bottle.jpg" alt="Card image cap">
          
                        </div>
  
                        <div class="solu_title">
                          <h5 class="card-title"><i class="fas fa-coins mr-2"></i>300 Water Bottle</h5>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>  

            <div class="row">
                <div class="our_solution_category col-lg-4 col-md-4 col-sm-4 mb-4" data-toggle="modal" data-target="#exampleModal">
                  <div class="solution_cards_box">
                    <div class="solution_card"  style="display: inline;">
                      <div class="hover_color_bubble"></div>
                      
                      <div class="solu_description">
                        
                        <img class="card-img-top" src="/images/goodies/diary.jpg" alt="Card image cap">
        
                      </div>

                      <div class="solu_title">
                        <h5 class="card-title"><i class="fas fa-coins mr-2"></i>500 Diary and Pen</h5>
                      </div>
                    </div>
                  </div>
                </div>
                 
                <div class="our_solution_category col-lg-4 col-md-4 col-sm-4 mb-4" data-toggle="modal" data-target="#exampleModal">
                    <div class="solution_cards_box">
                      <div class="solution_card"  style="display: inline;">
                        <div class="hover_color_bubble"></div>
                        
                        <div class="solu_description">
                          
                          <img class="card-img-top" src="/images/goodies/ipad.jpg" alt="Card image cap">
          
                        </div>
  
                        <div class="solu_title">
                          <h5 class="card-title"><i class="fas fa-coins mr-2"></i>1000 IPad</h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="our_solution_category col-lg-4 col-md-4 col-sm-4 mb-4" data-toggle="modal" data-target="#exampleModal">
                    <div class="solution_cards_box">
                      <div class="solution_card"  style="display: inline;">
                        <div class="hover_color_bubble"></div>
                        
                        <div class="solu_description">
                          
                          <img class="card-img-top" src="/images/goodies/laptop.jpg" alt="Card image cap">
          
                        </div>
  
                        <div class="solu_title">
                          <h5 class="card-title"><i class="fas fa-coins mr-2"></i>5000 Laptop</h5>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>  
        </div>
      
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ticket Raised Succesfully</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                You will receive your goodie. If you have Reward Points greter than the required for the goodie that you have requested.
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>

        <!-- <div class="row">

            

            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/pen.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>100</h5>
                    <p class="card-text">Pen</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=pen&email=<%=currentUser.email%>">
                        Redeem
                    </a >
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/tshirt.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>200</h5>
                    <p class="card-text">T-Shirt</p>
                    <a type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=tshirt&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/bottle.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>250</h5>
                    <p class="card-text"> Water Bottle</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=bottle&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/diary.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>300</h5>
                    <p class="card-text">Diary and Pen</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=diary&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>

           
            
        </div>

        <div class="row">
            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/bag.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>500</h5>
                    <p class="card-text">Backpack</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=bag&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/cpBook.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>600</h5>
                    <p class="card-text">Competitive Programming Book</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=book&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/ipad.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>2000</h5>
                    <p class="card-text">IPad</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=ipad&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="/images/goodies/laptop.jpg"alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-coins mr-2"></i>5000</h5>
                    <p class="card-text">Laptop</p>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="redeem/goodie?goodieType=laptop&email=<%=currentUser.email%>">
                        Redeem
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</body>

<script>
    var teacherNav = document.querySelectorAll('#student-nav');
    teacherNav.forEach((teacherNav) => {
      teacherNav.innerHTML = '';
      const navLinks = `<a id="dshbrd" href="/student/dashboard" 
          ><i class="fas fa-desktop"></i><span>Dashboard</span></a
        >`;
      teacherNav.innerHTML = navLinks;
    });
    document.querySelectorAll('.hme').forEach(link => link.href = location.hostname);
  
  </script> 

</html>