<%- include('partials/side-nav'); -%>
<div class="side-nav-content p-3">
  <div id="dd" class="scheduled mb-3" style="justify-content: space-between">
    <p></p>
    <p></p>
  </div>
  <div class="container">
    <div class="card m-3">
      <div class="card-title text-center theme-heading">Student Profile</div>

      <div
        class="card-image waves-effect waves-block waves-light"
        style="width: 20%; margin: auto"
      >
        <img
          class="activator"
          src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          ><%=student.name%><i class="material-icons right"
            >more_vert</i
          ></span
        >
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Details<i class="material-icons right">close</i></span
        >
        <p>Email: <%=student.email%></p>
        <p>Phone: 99XXXXXXX</p>
      </div>
    </div>
  </div>
  <canvas id="stat" class="mt-5 mb-5"></canvas>

  
</div>

<script>
  var adminNav = document.querySelectorAll('#admin-nav');
  adminNav.forEach((teacherNav) => {
    teacherNav.innerHTML = '';
    const navLinks = `<a id="dshbrd" href="/superuser/dashboard" 
        ><i class="fas fa-desktop"></i><span>Dashboard</span></a
      >`;
    teacherNav.innerHTML = navLinks;
  });
  document.querySelectorAll('.hme').forEach(link => link.href = location.hostname);


</script>

<%- include('partials/footer'); -%>







<%- include('partials/footer'); -%>
